<div>
  <h2>About me & skills</h2>
  <div class="row">
    <div class="col-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, non! Eveniet, error repellendus expedita vero temporibus vitae unde? Impedit iusto perspiciatis aliquid quam excepturi earum ipsum in repellendus? Rem, eaque?
      </p>
    </div>
    <div class="col-6">
      <ul>
        <div class="row d-flex">
          <li style="list-style: none; " class="col-4 ">
            Ruby
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
          </li>
          <li style="list-style: none; " class="col-4">
            Ruby on Rails
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg', alt: "Javascript icon", class: 'skills-icon' %>
          </li>
          <li style="list-style: none; " class="col-4">
            Python
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg', alt: "Python icon", class: 'skills-icon' %>
          </li>
        </div>
        <div class="row mt-3">
          <li style="list-style: none; " class="col-4">
            HTML
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
          </li>
          <li style="list-style: none; " class="col-4">
            CSS
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg', alt: "Python icon", class: 'skills-icon' %>
          </li>
          <li style="list-style: none; " class="col-4">
            Javascript
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg', alt: "Javascript icon", class: 'skills-icon' %>
          </li>
        </div>
        <div class="row mt-3">
          <li style="list-style: none; " class="col-4">
            Postgresql
            <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
