<div class="banner-projects-heading my-4 d-flex justify-content-center align-items-center">
  <h2>Projects</h2>
</div>
<div>
  <% data.projects.each do |project| %>
    <div class="card-portfolio my-4">
      <% unless project.name == 'Freshout' %>
        <%= image_tag project.image, alt: "project image", class: 'card-image' %>
      <% else %>
        <%= image_tag project.image, alt: "project image", class: 'card-image', style: 'object-fit: scale-down;' %>
      <% end %>
      <div class="card-details">
        <div class="d-flex justify-content-between">
          <h2><%= project.name %></h2>
          <% link_to project.url, class: 'external-link', target: '_blank' do %>
            <i class="fa-brands fa-square-github text-red fs-2"></i>
          <% end %>
        </div>
        <span class="card-stack"><%= project.stack %></span>
        <p class="mt-1"><%= project.description %></p>
        <p class="mt-1"><%= project.contribution %></p>
      </div>
    </div>
  <% end %>
</div>
