<h2 class="text-center">Skills</h2>
<div class="d-flex justify-content-around px-2">
  <div class="section-halfsize-box">
    <h3 class="text-center mb-4">Backend</h3>
    <div class="row my-2">
      <div class="col-6 text-center">
        Ruby
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        Ruby on Rails
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg', alt: "Javascript icon", class: 'skills-icon' %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6 text-center">
        Postgresql
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        Python
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg', alt: "Python icon", class: 'skills-icon' %>
      </div>
    </div>
  </div>
  <div class="section-halfsize-box">
    <h3 class="text-center mb-4">Frontend</h3>
    <div class="row my-2">
      <div class="col-6 text-center">
        HTML
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        CSS
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg', alt: "Python icon", class: 'skills-icon' %>
      </div>
      <div class="row my-2">
        <div class="col-6 text-center">
          Javascript
          <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg', alt: "Javascript icon", class: 'skills-icon' %>
        </div>
      </div>
    </div>
  </div>
</div>
</ul>
