<h2 class="text-center">Skills</h2>
<div class="d-flex justify-content-around px-2">
  <div class="section-halfsize-box">
    <h3 class="text-center mb-4">Backend</h3>
    <div class="row my-2">
      <div class="col-6 text-center">
        <span class="skills-text"> Ruby</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        <span class="skills-text">Rails</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg', alt: "Ruby on Rails icon", class: 'skills-icon' %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6 text-center">
        <span class="skills-text">Postgresql</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg', alt: "Postgresql icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        <span class="skills-text">Python</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg', alt: "Python icon", class: 'skills-icon' %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6 text-center">
        <span class="skills-text">Docker</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg', alt: "Docker icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        <span class="skills-text">AWS</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg', alt: "AWS icon", class: 'skills-icon' %>
      </div>
    </div>
  </div>
  <div class="section-halfsize-box">
    <h3 class="text-center mb-4">Frontend</h3>
    <div class="row my-2">
      <div class="col-6 text-center">
        <span class="skills-text"> HTML</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg', alt: "HTML icon", class: 'skills-icon' %>
      </div>
      <div class="col-6 text-center">
        <span class="skills-text"> CSS</span>
        <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg', alt: "CSS icon", class: 'skills-icon' %>
      </div>
      <div class="row my-2">
        <div class="col-6 text-center">
          <span class="skills-text"> Javascript</span>
          <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg', alt: "Javascript icon", class: 'skills-icon' %>
        </div>
        <div class="col-6 text-center">
          <span class="skills-text"> Bootstrap</span>
          <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg', alt: "Bootstrap icon", class: 'skills-icon' %>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-6 text-center">
          <span class="skills-text"> Figma</span>
          <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg', alt: "Figma icon", class: 'skills-icon' %>
        </div>
      </div>
    </div>
  </div>
</div>
