<div class="container">
  <h2>Skills</h2>
  <div>
    <h3>Backend</h3>
    Ruby
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
    Ruby on Rails
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg', alt: "Javascript icon", class: 'skills-icon' %>
    Python
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg', alt: "Python icon", class: 'skills-icon' %>
    Postgresql
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
  </div>
  <div>
    <h3>Frontend</h3>
    HTML
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg', alt: "Ruby icon", class: 'skills-icon' %>
    CSS
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg', alt: "Python icon", class: 'skills-icon' %>
    Javascript
    <%= image_tag 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg', alt: "Javascript icon", class: 'skills-icon' %>
  </div>
</div>
</ul>
</div>
