<%= partial 'partials/navbar' %>
<div class="container">
  <section id="banner-section">
    <%= partial 'partials/banner' %>
  </section>
  <section id="about-section">
    <%= partial 'partials/about' %>
  </section>
  <section id="skills-section">
    <%= partial 'partials/skills' %>
  </section>
  <section id="projects-section">
    <%= partial 'partials/projects' %>
  </section>
</div>
