<%= partial 'partials/navbar' %>
<section id="banner-section" class="menu-padding">
  <%= partial 'partials/banner' %>
</section>
<section id="about-section" class="menu-padding">
  <%= partial 'partials/about' %>
</section>
<section id="skills-section" class="menu-padding">
  <%= partial 'partials/skills' %>
</section>
<section id="projects-section" class="menu-padding">
  <%= partial 'partials/projects' %>
</section>
